
<div class="container grid grid-4">
    <div>
        <h1>Proc Clean Elite Hawaii LLC</h1>
        <h3><i class="fas fa-phone me"></i><a href="tel:8087287455">808-728-7455</a></h3>
        <p>Copyright &copy; <?=date('Y')?></p>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/free-quote">Free Quote</a></li>
        </ul>
    </nav>
    <div class="social">
        <!--
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
          -->  
        <a href="https://goo.gl/maps/o6BpaUvjf6YKp38e9" target="_blank"><i class="fab fa-google fa-2x"></i></a>
    </div>
    <div class="footer-address">
        <h2>Business Location</h2>
        <p><address>235 Lili'uokalani Ave Suite 335-A, Honolulu, HI 96815</address></p>
    </div>
</div>
