
<div class="container grid grid-3">
    <div>
        <h1>Proc Clean Elite Hawaii LLC</h1>
        <h3><i class="fas fa-phone me"></i>808-728-7455</h3>
        <p>Copyright &copy; <?=date('Y')?></p>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Our Work</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
    </nav>

    <div class="social">
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="#"><i class="fab fa-google fa-2x"></i></a>
    </div>
</div>
