<meta charset="<?php echo $ENCODING; ?>" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta name="description" content="<?=$metaDescription?>" />		

<title><?=$title?></title>
<link rel="stylesheet" href="ui/css/util.css" type="text/css" />
<link rel="stylesheet" href="ui/css/style.css" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-222726182-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-222726182-1');
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Service",
      "serviceType": "Pressure Washing",
      "provider": {
        "@type": "LocalBusiness",
        "name": "Pro Clean Elite Hawaii LLC",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Honolulu",
            "addressRegion": "HI",
            "streetAddress": "235 Lili'uokalani Ave Suite 335-A"
          },
          "description": "Pressure Washing Service in Honolulu, HI. We pressure wash commercial and residential. Licensed and Insured.",
          "url": "https://procleanelitepressurewashing.com",
          "logo":"https://procleanelitepressurewashing.com/ui/images/pro-clean-elite-logo.png",
          "telephone": "808-728-7455"        
      },
      "areaServed": {
        "@type": "State",
        "name": "Hawaii"
      },
      "hasOfferCatalog": {
        "@type": "OfferCatalog",
        "name": "Cleaning services",
        "itemListElement": [
          {
            "@type": "OfferCatalog",
            "name": "Vehicle Cleaning",
            "itemListElement": [
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Auto Dealership Inventory Cleaning"
                }
              },
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Automotive Detailing"
                }
              },              
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Boat Cleaning"
                }
              },
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "RV Cleaning"
                }
              }
            ]
          },
          {
            "@type": "OfferCatalog",
            "name": "Pressure Washing",
            "itemListElement": [
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Concrete Surface Cleaning"
                }
              },
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Decks"
                }
              },              
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Fences"
                }
              },
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Driveways"
                }
              },
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Patios"
                }
              },
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Pools"
                }
              },
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Stucco"
                }
              },
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Exterior Painted Surfaces"
                }
              },
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Tiles"
                }
              },
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Windows"
                }
              },
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Wooden Piers"
                }
              },
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Paint Prep"
                }
              },
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Volcanic Ash Cleaning"
                }
              },
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Public Works"
                }
              },
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Concrete Furniture Bench"
                }
              },
              {
                "@type": "Offer",
                "itemOffered": {
                  "@type": "Service",
                  "name": "Commercial Storefront Cleaning"
                }
              }
            ]
          }          
        ]
      }
    }
</script>