
    <div class="navbar">
        <div class="container flex">
            <a href="/"><img class="logo" src="ui/images/pro-clean-elite-logo.png" alt="Pro Clean Elite Pressure Washing Logo" title="Pro Clean Elite Pressure Washing" /></a>
            <div id="header-phone"><a href="tel:8087287455"><i class="fas fa-phone me"></i>808-728-7455</a></div>
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/free-quote">FREE QUOTE</a></li>
                </ul>
            </nav>
        </div>        
    </div>
